body{
    background-color: hsl(0, 0%, 100%);
    padding: 100px;
    text-decoration: none;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    justify-self: center;
    align-self: center;
}

.container{
    background-color: azure;
    min-width: 300px;
    max-width: 600px;
    height: 10%;
    display: flex;
    justify-content: center;
    padding: 10px ;
    text-wrap: wrap;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}